{% extends "layout.html" %}

	{% block title %}
		Home page
	{% endblock %}

	{% block main %}


        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
        <div>
        
			<div>
				<div class="date-picker">
				

					<div>
						<div>
							<label for="min-date">Minimal date</label>
							<input class="min-date" type="datetime-local" id="min-date" name="min-date" value={{ minmax[0][0] }}>
						</div>
						
						<div>
							<label for="max-date">Maximal date</label>
							<input class="max-date" type="datetime-local" id="max-date" name="max-date" value={{ minmax[0][1] }}>
						</div>
					</div>
					
					<div>
						<button class="btn set-date-btn">Set date</button>
						<button class="btn reset-btn">Reset</button>
					</div>
					

					
				</div>
			</div>

            <div class="tableAndMinmax">
            
                <div class="tableDiv">
                
                    <div>
                        <table class="myTable">
                            <thead>
                                <tr>
                                    <th>Date and time</th>
                                    <th>Temperature</th>
                                </tr>
                            </thead>
                            <tbody id="temp-table">
                                {% for temperature in temperatures %}
                                    <tr>
                                        <td class="my-td">{{ temperature[0] }}</td>
                                        <td class="my-td">{{ temperature[1] }}</td>                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
				<div class="minmaxDiv">
					<h1>Temperature</h1>
					<p id="min-temp">min {{ minmax[1][0] }}°C</p>
					<p id="med-temp">med {{ minmax[1][2] }}°C</p>
					<p id="max-temp">max {{ minmax[1][1] }}°C</p>
				</div>  
            </div>
            
            <div class="chart">
                <canvas id="myChart"></canvas>
            </div>
                
        </div>
        <script>
        var datas = {{ data | tojson }};
        </script>
    	<script src="/static/script.js"></script>
    {% endblock %}